<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pb.laboratory.dao.mapper.LaboratoryInfoMapper">
  <resultMap id="BaseResultMap" type="com.pb.laboratory.domain.po.LaboratoryInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="laboratory_name" jdbcType="VARCHAR" property="laboratoryName" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
</mapper>